// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
$font-family-common: "Roboto", Helvetica, Arial, sans-serif;
$font-family-condensed: "Roboto Condensed", Helvetica, Arial, sans-serif;
$font-family-bolder: "Open Sans", Helvetica, Arial, sans-serif;

body,
html, 
.body {
  background: $white !important;
}
.fluid-container{
  width: 100% !important;
  min-width: 100% !important;
}

a{
  border-bottom: 1px solid $black;
}

.black{
  background: black !important;
}
.black * {
  color: white !important;
}

h1, p{
  font-family: $font-family-common;
}
p{
  font-weight: 300;
  line-height: 1.6rem;
}

.hide-for-large{
  display: none !important;
}

table.button {
	table td {
    border: none !important;
		a {
      font-family: $font-family-condensed !important;
      letter-spacing: 2px;
      font-size: 13px !important;
      font-weight: 400 !important;
      transition: all .4s ease-out;
      border: 2px solid $black !important;
		}
		a:hover {
      background: $white;
      color: $black !important;
		}
	}
}

.button-icon-outline{
  display: inline-block !important;
  border: 2px solid $black !important;
  color: $black !important;
  background: $white;
  width: 28px;
  height: 28px;
  line-height: 24px;
  text-align: center;
  border-radius: 100px;
  font-size: 26px !important;
  transition: all .4s ease-out;
}
.button-icon-outline:hover{
  color: $white !important;
  background: $black !important;
}
.product-picture{
  position: relative;
  .button-icon-outline{
    position: absolute;
    top: 5%;
    left: 25%;
  }
  &.product-01 .button-icon-outline{
    top:4%;
    left: 17%;
  }
  &.product-02 .button-icon-outline{
    top:2%;
    left: 8%;
  }
  &.product-03 .button-icon-outline{
    top:10%;
    left: 52%;
  }
}

.top-header-right *{
  text-align: right !important;
}
.top-header{
  small{
    font-size: 14px;
    font-weight: light;
    color: $black;
  }
}

.header-left{
  padding-bottom: 10px !important;
}
.main-navigation{
  min-width: 100%;
  a{
    font-family: $font-family-condensed !important;
    letter-spacing: 1px;
    font-size: 15px;
    border-bottom: 2px solid transparent;
    transition: all .4s ease-out;
  }
  a:hover{
    border-bottom: 2px solid $white;
  }
}
.main-navigation{
  padding: 0 !important;
  padding-bottom: 10px !important;
  th{
    text-align: center !important;
  }
  a{
    margin: 0 5.8% !important;
  }
  a:first-child{
    margin-left: 0 !important;
  }
  a:last-child{
    margin-right: 0 !important;
  }
}

@media only screen and (max-width: 450px) {
  .main-navigation{
    a{
      margin: 0 3% !important;
    }
  }
}

.hero{
  .text-center *{
    text-align: center !important;
  }
  img{
    display: inline-block !important;
  }
  .title{
    font-family: $font-family-bolder;
    font-weight: 700;
    font-size: 42px;
    letter-spacing: -1px;
  }
  .code{
    display: inline-block;
    font-family: $font-family-condensed;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    border-bottom: 2px solid $black;
  }
}