// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
$font-family-common: "Roboto", Helvetica, Arial, sans-serif;
$font-family-condensed: "Roboto Condensed", Helvetica, Arial, sans-serif;

body,
html, 
.body {
  background: $white !important;
}
.fluid-container{
  width: 100% !important;
  min-width: 100% !important;
}

a{
  border-bottom: 1px solid $black;
}

.black{
  background: black !important;
}
.black * {
  color: white !important;
}

h1{
  font-family: $font-family-common;
}

.hide-for-large{
  display: none !important;
}

.top-header-right *{
  text-align: right !important;
}
.top-header{
  small{
    font-size: 14px;
    font-weight: light;
    color: $black;
  }
}

.header-left{
  padding-bottom: 10px !important;
}
.main-navigation{
  min-width: 100%;
  a{
    font-family: $font-family-condensed !important;
    letter-spacing: 1px;
    font-size: 15px;
  }
}

